{% extends index %}

{% block content %}

    <div class="row">
      <div class="span12">
        <div class="hero-unit">
          <h2 class="lead">
            sorry, we couldn't find that page!
          </h2>
        </div>
      </div>
    </div>

{% endblock %}
