{% extends parent %}

{% block content %}
    <div class="row">
      <div class="span12">
        <h2>
          {% editable_short_text "title", hint: "The page title" %}
          Get Involved
          {% endeditable_short_text %}
        </h2>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="span7">
            {% editable_long_text "main content", hint: "The main content on the page" %}
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>

            <p>
              Nunc nec tellus sit amet leo consequat mollis eget sed urna. Aliquam pharetra sodales mattis. Phasellus semper quam tempor urna ullamcorper tristique imperdiet dui vulputate. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam auctor volutpat leo, sagittis laoreet dolor laoreet quis. Ut massa urna, varius nec placerat at, commodo ac massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec at justo in nulla egestas lobortis. Cras tristique, massa et cursus accumsan, lectus velit malesuada augue, sed tempor erat turpis ut nibh. Donec fermentum tempus ultricies. Sed pretium tincidunt imperdiet. Praesent commodo cursus neque sit amet accumsan. Duis malesuada gravida iaculis. Duis convallis sollicitudin orci, eu pulvinar augue cursus vitae. Nullam bibendum malesuada sem, id rhoncus est tristique ac.
            </p>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>

            <p>
              Ut at augue massa. Nam eget enim at eros aliquam commodo rutrum sed justo. Etiam quis eros sem. Maecenas placerat, metus eu ornare lobortis, nibh metus lacinia lorem, ut pharetra libero tellus eu massa. Fusce erat quam, eleifend ac dictum a, dictum vestibulum sapien. Nam lorem tellus, porttitor sit amet sollicitudin et, scelerisque eu nunc. Vivamus eu nunc tristique neque euismod interdum suscipit nec est. Sed tellus arcu, lacinia vitae viverra eu, vulputate eu mauris.
            </p>

            <p>
              Sed adipiscing, nibh vitae imperdiet adipiscing, orci risus porttitor dui, vel rhoncus felis ligula interdum lectus. Duis at purus tortor. Cras congue volutpat lectus, eu vestibulum risus ornare sed. Aliquam elementum porttitor leo et rutrum. Aliquam in leo ut turpis porttitor gravida vel non diam. Etiam quis diam felis. Integer dictum.
            </p>
            {% endeditable_long_text %}
          </div>

          <div class="offset1 span4">
            <h3>Signup to our Mailing List</h3>
            <p>
              {% editable_short_text "signup copy", hint: "The content guiding people to signup to our mailing list" %}
                To keep up to date with the everything we're up to why not sign up to our mailing list?
              {% endeditable_short_text %}
            </p>
              <p>
                <a href="http://eepurl.com/uchfP" target="_blank"><strong>Sign up to Protest Transphobia mailing list</strong></a>
              </p>
          </div>
        </div>

      </div>
    </div>
{% endblock %}
