{% extends parent %}

{% block content %}

    <div class="row">
      <div class="span12">
        <h2>All Media</h2>
        <hr>
      </div>
    </div>

    <div class="row">
      {% paginate contents.media by 9 %}
        {% for media_object in paginate.collection %}
        {% include 'media_listing' with media_object %}
        {% endfor %}

        <div class="row">
          <ul class="span6 offset3 pager">
            {% if paginate.previous %}
            <li class="previous">
              <a href="{{ paginate.previous.url }}">&larr; Newer</a>
            </li>
            {% endif %}
            {% if paginate.next %}
            <li class="next">
              <a href="{{ paginate.next.url }}">Older &rarr;</a>
            </li>
            {% endif %}
          </ul>
        </div>
      {% endpaginate %}
    </div>
{% endblock %}
